VITE_API_BASE=http://127.0.0.1:8000
VITE_API_PORT=8000
VITE_BOOTSTRAP_EVENTS_LIMIT=100
VITE_SELECTED_TRADE_EVENTS_LIMIT=500
VITE_BOOTSTRAP_REFERENCE_LIMIT=500
VITE_BOOTSTRAP_EXTERNAL_RUNS_LIMIT=10
VITE_BOOTSTRAP_TRADING_SOURCES_LIMIT=500
